.env
env.json
.DS_Store
*.pem
dist/
node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
build
.umi
.umi-production
.firebase
.eslintcache
.next
out
.vercel
migrations
dal
cmd