@borderRadius: 5px;
@padding: 20px;
@caseMb: 50px;
@color: rgb(101, 99, 99);
@caseWidth: 200px;
@lineColor: #ccc;
@lineSize: 2px;
@caseListMb: 20px;
.nodeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nodeContainer {
  width: 220px;
  border-radius: @borderRadius;
  box-shadow: 0 0 5px 0 #d8d8d8;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    box-shadow: 0 0 3px 0 #1989fa;
  }
  .nodeHeader {
    height: 30px;
    padding: 0 @padding;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    border-top-left-radius: @borderRadius;
    border-top-right-radius: @borderRadius;
  }
  .beginNodeHeader {
    background: rgb(122, 147, 157);
  }
  .nodeBody {
    height: 60px;
    background: #fff;
    border-bottom-left-radius: @borderRadius;
    border-bottom-right-radius: @borderRadius;
    display: flex;
    align-items: center;
    padding: 0 @padding;
    font-size: 14px;
    color: @color;
  }
}
.addConditionCls {
  border-radius: 30px;
  padding: 10px 20px;
  background: #fff;
  font-size: 14px;
  color: @color;
  box-shadow: 0 0 5px 0 #d8d8d8;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: @caseMb;
  position: relative;
  &:hover {
    box-shadow: 0 0 3px 0 #1989fa;
  }
  &::after {
    content: "";
    position: absolute;
    width: @lineSize;
    height: calc(@caseMb / 2);
    background: @lineColor;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(-@caseMb / 2);
  }
}
.caseListContainer {
  display: flex;
  align-items: center;
  margin-bottom: @caseListMb;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: calc(@caseWidth / 2);
    right: calc(@caseWidth / 2);
    top: calc(calc(-@caseMb / 2) - calc(@lineSize / 2));
    height: @lineSize;
    background: @lineColor;
  }
  &::after {
    content: "";
    position: absolute;
    width: @lineSize;
    background: @lineColor;
    left: 50%;
    transform: translateX(-50%);
    height: @caseListMb;
    bottom: -@caseListMb;
  }
  .caseCls {
    padding: 10px 25px;
    padding-bottom: 25px;
    width: @caseWidth;
    background: #fff;
    box-shadow: 0 0 5px 0 #d8d8d8;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: @borderRadius;
    position: relative;
    &:hover {
      box-shadow: 0 0 3px 0 #1989fa;
    }
    &::before {
      content: "";
      position: absolute;
      width: @lineSize;
      height: calc(@caseMb / 2);
      left: 50%;
      transform: translateX(-50%);
      top: calc(-@caseMb / 2);
      background: @lineColor;
    }
  }
  .caseCls+.caseCls {
    margin-left: 50px;
  }
}
.caseTitleCls {
  font-size: 12px;
  margin-bottom: 15px;
  color: @color;
  display: flex;
  align-items: center;
  .lineCls {
    width: 2px;
    height: 10px;
    background: #1677ff;
    margin-right: 4px;
  }
}
.caseValueCls {
  font-size: 14px;
  color: @color;
}