@newHeight: 90px;
@newWidth: 32px;
@arrowWidth: 6px;
@lineColor: #ccc;
@lineSize: 2px;
.newContainer {
  margin-bottom: 3px;
  width: @newWidth;
  height: @newHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  .line {
    width: @lineSize;
    flex-grow: 1;
    background: @lineColor;
  }
  .roundCls {
    width: @newWidth;
    height: @newWidth;
    border-radius: 50%;
    background: #1677ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
  }
  .plusCls {
    margin-left: 1px;
    margin-bottom: 4px;
  }
  .line2 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: @arrowWidth solid @lineColor;
      border-left: @arrowWidth solid transparent;
      border-right: @arrowWidth solid transparent;
      border-bottom: @arrowWidth solid transparent;
      bottom: -@arrowWidth;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.addNodeModal {
  color: #555;
  padding: 10px;
  padding-bottom: 20px;
  .titleCls {
    font-size: 15px;
    color: #000;
    margin-bottom: 15px;
  }
  .nodeTypeList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    .node {
      padding: 10px 30px;
      background: #f8f9f9;
      display: flex;
      align-items: center;
      justify-content: center;
      word-break: keep-all;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}